
menu "CVITEK CPU selection"
        depends on ARCH_CVITEK
choice
        prompt "Select CVITEK CPU"
        default CHIP_CPU_CV186X

config CHIP_CPU_CV84X2
        bool "CV84X2"

config CHIP_CPU_CV186X
        bool "CV186X"

config CHIP_CPU_C906B
        bool "C906B"

config CHIP_CPU_C906L
        bool "C906L"

endchoice

endmenu
